body {
  background-image:url('background.jpg');
  background-color:#cccccc;
  font-family: sans-serif;
}

#header {
  text-align: center;
	font-size: 40px;
	letter-spacing: 10px;
	margin-bottom: 40px;
	margin-top: 40px;
	color: #585858
	font-weight : bold;
	
}

#Banner{
	    display: block;
        margin-left: auto;
        margin-right: auto;
		position : relative;
		left : 10%;
		

		
	}

#wrapper {
  width: 100%;
  
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#form_wrapper {
  margin-top: 10px;
  width: 100%;
}

#input_wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position : relative;
  left : 6%;
}

#http_prefix {
  vertical-align: middle;
  color:#000000;
  font-family : Courier ;
  font-weight : bold;
   
  
 
}

#go_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Courier;
	font-size:15px;
	font-weight:bold;
	padding:7px 19px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

#go_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

#go_button:active {
	position:relative;
	top:1px;
}

#url_entry {
  width: 1000px;
  border: 2px dotted #ffffff;
  padding: 5px;
  margin-left: 3px;
  margin-right: 10px;
	font-family: Courier;
	font-weight: bold;
	color: #000000;
	font-size: 14px;
	
}

#instruction {
  font-size: 25px;
  margin-top: 20px;
  letter-spacing: 3px;
  color: #000000;
  font-weight : bold;
  font-family: Courier;
  text-align : Center;
}

#recent {
	margin-top: 50px;
}

#recent_entries {
  margin-left: 25px;
}

.url_container {
	margin-top: 3px;
	padding-left: 5px;
}

.info {
	font-family: sans-serif;
	font-size: 15px;
	color: #606060;
	margin-left: 5px;
}

.url {
	font-size: 12px;
}

.url1 { color: #000000 !important; }
.url2 { color: #0a0a0a !important; }
.url3 { color: #151515 !important; }
.url4 { color: #1f1f1f !important; }
.url5 { color: #2a2a2a !important; }
.url6 { color: #353535 !important; }
.url7 { color: #3f3f3f !important; }
.url8 { color: #4a4a4a !important; }
.url9 { color: #555555 !important; }
.url10 { color: #5f5f5f !important; }
.url11 { color: #6a6a6a !important; }
.url12 { color: #757575 !important; }
.url13 { color: #7f7f7f !important; }
.url14 { color: #8a8a8a !important; }
.url15 { color: #959595 !important; }
.url16 { color: #9f9f9f !important; }
.url17 { color: #aaaaaa !important; }
.url18 { color: #b5b5b5 !important; }
.url19 { color: #bfbfbf !important; }
.url20 { color: #cacaca !important; }
.url21 { color: #d5d5d5 !important; }
.url22 { color: #dfdfdf !important; }
.url23 { color: #eaeaea !important; }
.url24 { color: #f5f5f5 !important; }
.url25 { color: #ffffff !important; }

/* secure link */
.secure {
  text-align: center;
  margin-top: 200px;
  vertical-align: middle;
  font-size: 25px;
  font-family : Courier;
  font-weight : bold;
  position : relative;
}

.secure img {
  margin-bottom: -0.3em;
  border: 0;
}

.secure a, .secure a:hover, .secure a:visited, .secure a:active {
  color: #000;
  text-decoration: none;
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #000000;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc;

	}
	
#nav li {
	float: left; 
	
	}
	
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	border-right: 1px solid #ccc;

	}
	
#nav li a:hover {
	color: #c00;
	background-color: #fff;

	}
	
	#footer {
	
	position : absolute;
	bottom : 0;
	left : 0;
	font-family : Arial;
	font-size : 15px;
	font-weight : bold;
	}
